<div class="container">
    <h3>Aircrafts</h3>

    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>add</mat-icon>
                Add aircraft
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div style="display: table;  width: 100%;">
            <form [formGroup]="aircraftForm">

                <div style="display: table-row;">
                    <div class="cell">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="ID" formControlName="id">
                            <mat-hint>Only numbers</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="cell">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Model" formControlName="model">
                        </mat-form-field>
                    </div>
                    <div class="cell">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Range" formControlName="range">
                            <mat-hint>Only numbers</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="cell">
                        <button mat-raised-button [disabled]="!isValidForm()" (click)="onSubmit()">Add</button>
                    </div>
                </div>
            </form>
          </div>
        </mat-expansion-panel>
    </mat-accordion>

    
    <mat-table #table [dataSource]="aircraftDataSource">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let aircraft"> {{aircraft.id}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="model">
            <mat-header-cell *matHeaderCellDef> Model </mat-header-cell>
            <mat-cell *matCellDef="let aircraft"> {{aircraft.model}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="range">
            <mat-header-cell *matHeaderCellDef> Range </mat-header-cell>
            <mat-cell *matCellDef="let aircraft"> {{aircraft.range}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [length]="total" 
                   [pageIndex]="0" 
                   [pageSize]="5" 
                   [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>
</div>